<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

<!--%= image_tag url_for(@page.cover_photo) %-->
<!--%= link_to @page.cover_photo.filename, rails_blob_path(@page.cover_photo, disposition: "attachment") %-->

<br/>
<% @page.uploads.each do |upload| %>
	<p><%= link_to upload.filename, upload %></p>
<% end %>


<%= @page.body %>

